* {
  margin: 0;
  padding: 0;
}

.main-container {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-text {
  font-size: 0.7rem;
  margin: 1vh;
  font-weight: 400;
}

.menu-img {
  height: 2vh;
  margin: 1vh;
}

.acc-img {
  height: 3.5vh;
  margin: 1vh;
  margin-right: 2vh;
}

.google-logo {
  width: 30vh;
  display: block;
  margin: auto;
  margin-top: 18vh;
}

.searchbar {
  display: flex;
  margin: auto;
  border: 1px solid #bebebe;
  width: 30vw;
  padding: 0.25rem;
  justify-content: space-around;
  border-radius: 30px;
}

.searchbar input {
  width: 30vw;
  border: none;
}

.searchbar img {
  height: 1.85vh;
  padding: 1vh;
}

textarea:focus,
input:focus {
  outline: none;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.search,
.luck {
  padding: 0.5rem 1.25rem;
  margin: 0.25rem;
  font-size: 0.7rem;
  border: none;
  background-color: white;
  border-radius: 3px;
}

.search:hover,
.luck:hover {
  border: 1px solid #e2e2e2;
}

.languages span {
  font-size: 0.6rem;
  color: blue;
  word-spacing: 5px;
}

.languages span:hover {
  text-decoration: underline;
}

.languages {
  padding-right: 5px;
  font-size: 0.7rem;
  text-align: center;
  margin-top: 8vh;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: 0.70rem;
  margin-top: 23vh;
  background-color: rgb(240, 240, 240);
  color: rgb(99, 98, 98);
}

.row1 {
  padding: 1rem;
  padding-bottom: 0.75rem;
}

.row2 {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-top: 0.75rem;
}

.row2 p{
    margin: 0px 10px 0px 0px;
}

.lsection {
  display: flex;
}

.rsection {
  display: flex;
}
